@charset "utf-8";
/* CSS Document */

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
	display: block;
}

summary {
	display: list-item;
}

audio, canvas, progress, video {
	display: inline-block;
}

progress {
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template {
	display: none;
}

*{
	margin:0;
	padding:0;
	font-family:"Segoe UI", Arial, Helvetica, sans-serif;
	font-size:14px;
}

a{
	color:#009dcc;
	text-decoration:none;
}

a:hover, a.active{
	color:#ccc;
	text-decoration:underline;
}

ul{
	margin:0;
	padding:0;
}

li{
	list-style-type:none;
	float:left;
}

#outer{
	width:100%;
	overflow:hidden;
}

#main, .main{
	margin:0 auto;
	width:76%;
	max-width:1385px;
	overflow:hidden;
}

header{
	border-top:30px solid #000;
	background:#fff;
	color:#009dcc;
	font-weight:600;
	font-size:14px;
	text-transform:capitalize;
	overflow:hidden;
}

header .col-1{
	width:15%;
	max-width:208px;
	float:left;
}

header .col-2{
	width:85%;
	max-width:1177px;
	float:left;
}

/*header .main{
	margin:0 auto;
	width:90%;
	max-width:1502px;
	overflow:hidden;
}*/

header a#logo{
	padding:16% 4%;
	width:100%;
	height:auto;
	max-width:206px;
	max-height:64px;
	background:url(../images/logo.png) no-repeat;
	background-size:100%;
	-moz-background-size:100%;
	-webkit-background-size:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	display:block;
}

/*header a#logo img{
	width:100%;
	height:auto;
	max-width:206px;
	max-height:64px;
	display:block;
}*/

header a#logo:hover{
	text-decoration:none;
}

header ul.top_links{
	margin:0;
	padding:0;
	float:right;
}

header .top_links li a{
	padding:25px 25px;
	font-size:14px;
	display:inline-block;
}

header .top_links li a:hover, header .top_links li a.active{
	text-decoration:none;
}

header #banner{
	padding:10% 13.6%;
	background:url(../images/banner-1.jpg) no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	display:block;
	position:relative;
	z-index:1;
}

header #banner::before{
	content: "";
	display: block;
	position: absolute;
	z-index:2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
 	background-color: rgba(0, 0, 0, 0.2); /* Change the color and opacity as needed */
	/*display:none;*/	/*newly added code */
}

header #banner .title{
	font-family:"Montserrat Black","Segoe UI", Arial, Helvetica, sans-serif;
	font-size:110px;
	font-weight:bold;
	color:#fff;
	position:relative;
	z-index:3;
}

section{
	padding:40px;
	overflow:hidden;
}

.inner_40{
	padding:40px;
	overflow:hidden;
}

.inner_20x40{
	padding:20px 40px;
	overflow:hidden;
}

.inner_0x40{
	padding:20px 0px;
	overflow:hidden;
}

.full_row, .full-col{
	width:100%;
	overflow:hidden;
}

.ad-banner{
	background:#009dcc;
	color:#fff;
	overflow:hidden;
}

.ad-banner .line1{
	margin:10px 0 10px;
	font-size:30px;
	font-weight:600;
}

.ad-banner .line2{
	font-size:18px;
	font-weight:600;
}

.ad-banner img{
	margin:0 20px;
	width:100%;
	height:auto;
	max-width:150px;
	max-height:150px;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
}

.ad-banner img:nth-child(1){
	margin:2% 0 -5%;
}

.ad-banner img:nth-child(2){
	margin:-5% -2% 2% 2%;
}

.two-cols{
	width:49%;
	float:left;
}

.two-cols.rmargin{
	margin:0 2% 0 0;
}

.inner_2percent{
	padding:2%;
}

.align-left{
	text-align:left;
}

.align-right{
	text-align:right;
}

.align-center{
	text-align:center;
}

.align-justify{
	text-align:justify;
}

.fleft{
	float:left;
}

.fright{
	float:right;
}

.fnone{
	float:none;
}

.left_img{
	margin:0 25px 10px 0;
	float:left;
}

.right_img{
	margin:0 0 25px 10px;
	float:right;
}

h5{
	margin:0 0 2%;
	font-size:26px;
	font-weight:600;
}

h6{
	margin:0 0 2%;
	font-size:20px;
	font-weight:600;
}

p{
	margin:0 0 2%;
}

.no-lo-padding{
	padding-bottom:0;
}

ul.focus-img{
	margin:0;
	padding:0;
}

.focus-img li{
	margin:0 1.4%;
	width:23%;
	max-width:316px;
	float:left;
}

.focus-img li:first-child{
	margin-left:0;
}

.focus-img li:last-child{
	margin-right:0;
}

.focus-img li img{
	margin:0 auto 2%;
	width:100%;
	height:auto;
	max-width:320px;
	max-height:180px;
	display:block;
}

.focus-img li .subtitle{
	margin:0 0 2%;
	font-size:18px;
	font-weight:600;
	display:block;
}

.focus-img li .title{
	margin:0 0 2%;
	font-size:20px;
	font-weight:600;
	display:block;
}

.focus-img li .description{
	font-size:14px;
	display:block;
}

.blue-bg{
	background:#009dcc;
	color:#fff;
}

.public-policy-img{
	margin:0 auto;
	width:100%;
	height:auto;
	max-width:900px;
	max-height:520px;
	display:block;
}

.public-policy-bg{
	padding:17%;
	background:url(../images/img-publicPolicy.png) no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

ul.device-list{
	margin:0;
	padding:0;
}

.device-list li{
	margin:0 2%;
	padding:1.5%;
	width:22%;
	max-width:305px;
	background:#fff;
	border:1px solid #ccc;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	list-style-type:none;
	text-align:center;
	float:left;
	position:relative;
	z-index:1;
}

.device-list li:first-child{
	margin-left:0;
}

.device-list li:last-child{
	margin-right:0;
}

.device-list li .brand-name{
	margin:14% 0 10%;
	/*min-height:38px;*/
	font-weight:600;
	display:block;
}

.device-list li .desc{
	margin:0 0 10%;
	font-weight:normal;
	color:#999;
	display:block;
}

.device-list li .offer-price{
	margin:0 0 10%;
	font-size:22px;
	font-weight:bold;
	text-transform:uppercase;
	display:block;
}

.device-list li .price{
	margin:0 0 10%;
	padding:0 0 10%;
	font-weight:normal;
	color:#999;
	display:block;
	border-bottom:1px solid #ccc;
}

.device-list li .details-btn{
	padding:10px;
	width:100%;
	background:#fff;
	color:#009dcc;
	border:2px solid #009dcc;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	text-transform:uppercase;
	display:block;
	cursor:pointer;
}

.device-list li .details-btn:hover{
	background:#009dcc;
	color:#fff;
}

.device-list li img{
	width:70px;
	height:70px;
	position:absolute;
	z-index:2;
	left:36%;
	top:-10%;
}

ul.quick-links{
	margin:0;
	padding:0;
}

.quick-links li{
	margin:0 2.7%;
	padding:1.5%;
	width:22%;
	max-width:290px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	list-style-type:none;
	text-align:center;
	float:left;
}

.quick-links li:first-child{
	margin-left:0;
}

.quick-links li:last-child{
	margin-right:0;
}

.quick-links li a{
	font-weight:normal;
	display:block;
}

.quick-links li img{
	margin:0 auto 8%;
	width:40px;
	height:40px;
	display:block;
}

footer{
	padding:40px;
	background:#000;
	color:#fff;
	font-size:12px;
	font-weight:600;
	overflow:hidden;
}

footer ul{
	margin:0;
	padding:0;
}

footer li{
	margin:0 1.46%;
	width:15%;
	max-width:197px;
	font-weight:600;
	list-style-type:none;
	float:left;
}

footer li:first-child{
	margin-left:0;
}

footer li:last-child{
	margin-right:0;
}

footer li .footer-head{
	margin:0 0 10%;
	font-size:18px;
	font-weight:600;
	display:block;
}

footer li a{
	margin:0 0 5%;
	color:#fff;
	text-decoration:none;
	text-transform:capitalize;
	display:block;
}

footer li a:hover, footer li a.active{
	color:#999;
	text-decoration:underline;
}

.grey_bar{
	padding:0.5%;
	font-size:10px;
	background:#555;
	color:#fff;
	overflow:hidden;
}

.shopping_bar{
	padding:1%;
	background:#e8e8e8;
	font-weight:600;
	border-radius:14px;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	overflow:hidden;
}

.shopping_bar ul{
	margin:0;
	padding:0;
}

.shopping_bar li{
	margin:0 2.5%;
	width:20%;
	max-width:270px;
	font-weight:600;
	float:left;
}

.shopping_bar li:first-child{
	font-size:18px;
	font-weight:bold;
}

.shopping_bar li img{
	margin:0 2% 0 0;
	width:64px;
	height:64px;
	display:block;
	float:left;
}

.shopping_bar li span{
	margin:2% 0;
	padding:2%;
	width:100%;
	max-width:194px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	display:block;
	float:left;
}

.shopping_bar li:first-child span{
	max-width:265px;
	font-size:18px;
}

ul.social-icons{
	margin:0.5% auto;
	padding:0;
}

.social-icons li{
	margin:0% 20px;
	width:auto;
	max-width:none;
	list-style-type:none;
	display:inline;
	float:none;
}

.social-icons li a{
	margin:0;
	padding:5px 10px;
	font-family:'FontAwesome';
	font-size:18px;
	background:#a5a5a5;
	color:#fff;
	font-weight:bold;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	display:inline-block;
}

.social-icons li a:hover{
	color:#444;
}

.social-icons li a i{
	font-size:14px;
}

.slicknav_menu {
	display:none;
}

#slickmenu{
	display:none;
}